@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}

@keyframes fillBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.gradient-text {
  background: linear-gradient(
    to right,
    #A6A6A6,
    #8C8C8C,
    #C0C0C0,
    #8C8C8C,
    #A6A6A6,
    #8C8C8C,
    #C0C0C0
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-size:300% 300%;
}

.btn-glass {
  box-shadow:
    0 0 0 2px rgba(0, 0, 0, 0.5),
    0 0 14px 0 hsla(0, 0%, 100%, 0.19),
    inset 0 -1px 0.4px 0 rgba(0, 0, 0, 0.2),
    inset 0 1px 0.4px 0 #fff;
}

.btn-glass-blue {
  box-shadow:
    0 0 0 2px rgba(0, 0, 0, 0.5),
    0 0 14px 0 hsla(0, 0%, 100%, 0.19),
    inset 0 -1px 0.4px 0 rgba(0, 0, 0, 0.2),
    inset 0 1px 0.4px 0 #5C5FFF;
}

.mask-text {
  -webkit-mask-image: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 160%);
  mask-image: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 160%);
}