@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}

@keyframes fillBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.gradient-text {
  background: linear-gradient(
    to right,
    #6c6c6c,
    #fff,
    #C0C0C0,
    #fff,
    #6c6c6c,
    #fff,
    #C0C0C0
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-size:300% 300%;
}

.mask-text {
  -webkit-mask-image: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 160%);
  mask-image: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 160%);
}

.backdrop {
  @apply absolute filter blur-[20px] transform-gpu;
  inset: -60px -70px;
}

.backdrop::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1; 
  clip-path: polygon(
    0 0,
    50% 14%,
    100% 0,
    92% 50%,
    100% 100%,
    50% 86%,
    0 100%,
    8% 50%
  );
  
  background: radial-gradient(
      40% 30% at 50% 46.2%,
      hsla(0, 100%, 73%, 0.2) 5%,
      rgba(154, 170, 255, 0.11) 60%,
      hsla(0, 100%, 88%, 0) 140%
    );
}